.group-container {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

.groups-counter {
  display: flex;
  justify-content: end;
  margin: 0.3rem 1rem;
}
