<h3>LightFlow / SequenceItems</h3>
<div *ngIf="!lightFlow?.length">
  No items yet, create a new sequence-item by clicking the button below
</div>
<div class="sequence-item-list" *ngFor="let item of lightFlow">
  <div class="sequence-header">
    <strong>{{
      item.startTime.hh + ":" + item.startTime.mm + ":" + item.startTime.ss
    }}</strong>
    -
    <h4>{{ item.sequenceName }}</h4>
    <span class="number-of-items">
      ({{ item.groupActionArray.length }} Groups)
    </span>
    <span class="cta-icons">
      <fa-icon icon="edit" (click)="editSequenceItem(item.sequenceName)"></fa-icon>
      <fa-icon icon="trash"  (click)="deleteSequenceItem(item.sequenceName)"></fa-icon>
      <!-- <fa-icon icon="plus"  (click)="createSequenceItem(item.sequenceName)"></fa-icon> -->
    </span>
  </div>
  <div class="sequence-item-action-list">
    <div *ngIf="lightFlow?.length">
      <div *ngFor="let groupAction of item.groupActionArray"></div>
    </div>
  </div>
</div>
