/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 95vh;
  padding: 2rem 1rem 0.5rem 2rem;
  font-size: 10px;
  font-family: Tahoma;

  position: relative;
  width: 80%;
  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-secondary {
  font-size: 1.8 rem;
  color: rgba(34, 34, 34, 0.851);
  display: flex;
  justify-content: space-around;
}
