.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-panel {
  width: 45%;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;

  position: releative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.group-actions {
  width: 45%;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;

  position: releative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cta-buttons {
    width: 100%;
    border: none;
    padding: 1rem;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      margin: 0.4rem;
    }
  }
}
